@font-face {
    font-family: Semibold;
    src: url("assets/fonts/SF-UI-Display-Semibold.otf") format("opentype");
}
@font-face {
    font-family: Light;
    src: url("assets/fonts/SF-UI-Display-Light.otf") format("opentype");
}
@font-face {
    font-family: Mediumm;
    src: url("assets/fonts/SF-UI-Display-Medium.otf") format("opentype");
}
@font-face {
    font-family: Thinn;
    src: url("assets/fonts/SF-UI-Display-Thin.otf") format("opentype");
}

body{
  margin: 0px;
  background-color: #f6f8f9;
  /*background-color: purple;*/
  border: solid 40px #ffffff;
  height: 90vh;
  overflow-x:hidden;
}
p{
  text-align: center;
}
.images{
  text-align: center;
  font-family: Light;
  margin-top: 80px;
}
.image-float{
  background-image: url('assets/images/Button.svg');
  width: 200px;
  height: 56px;
  display: inline-block;
  margin-top: 17px;
}
.rectangle-2{
  height: inherit;
  height: 90vh;
  width: 50%;
  background-color: #f9fbfc;
  float: left;
}
#apple-icon{
  float: left;
  height: 24px;
  width: 20px;
  margin-top: 15px;
  margin-left: 16px;
}
#android-icon{
  float: left;
  height: 24px;
  width: 20px;
  margin-top: 15px;
  margin-left: 16px;
}
#apple-float{
  margin-right: 20px;
}
#apple-prompt{
  margin-top: 19px;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #f4f4f4;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#android-prompt{
  margin-top: 19px;
  margin-left: 50px;
  text-align: left;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #f4f4f4;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#app-name{
  font-family: Semibold;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: #4e525f;
  margin-top: 18px;
}
#app-description{
  font-family: Thinn;
  font-size: 32px;
  font-weight: 300;
  color: #666666;
  margin-top: 84px;
}
#icon{
  width: 124px;
 height: 124px;
}
#icon-p{
  margin-top: 130px;
  margin-bottom: 0px;
  height: 93px;
}
#iPhone{
  width: 395px;
  height: 680px;
  right: 0;
  position: fixed;
  margin-right: 9%;
  margin-top: 9vh;
}
@media only screen
and (max-device-width : 1200px) {
  #iPhone{
    margin-right: 3.5%;
  }
}
@media only screen
and (min-device-width : 1600px) and (max-device-width: 1950px){
  .rectangle-2{
    padding-top: 6.5%;
    height: 80vh;
  }

  #app-description{
    margin-top: 75px;
  }

  #iPhone{
    margin-right: 11.5%;
    margin-top: 10.5%;
  }
}
@media only screen
and (max-device-width : 320px) {
  body{
    height: 93.5vh;
  }
  .rectangle-2{
    padding-top: 14vh;
    height: 79vh;
  }

  #iPhone{
    margin-top: 27%;
    margin-right: .5%;
  }


}
