@font-face {
    font-family: Semibold;
    src: url("assets/fonts/SF-UI-Display-Semibold.otf") format("opentype");
}
@font-face {
    font-family: Light;
    src: url("assets/fonts/SF-UI-Display-Light.otf") format("opentype");
}
@font-face {
    font-family: Mediumm;
    src: url("assets/fonts/SF-UI-Display-Medium.otf") format("opentype");
}
@font-face {
    font-family: Thinn;
    src: url("assets/fonts/SF-UI-Display-Thin.otf") format("opentype");
}

body{
  margin: 0px;
  background-color: #f6f8f9;
  border: solid 40px #ffffff;
  height: 88vh;
  overflow-x:hidden;
}
p{
  text-align: center;
}
.images{
  text-align: center;
  font-family: Light;
  margin-top: 80px;
}
.image-float{
  background-image: url('assets/images/Button.svg');
  width: 200px;
  height: 56px;
  display: inline-block;
}
.rectangle-2{
  height: inherit;
  width: 50%;
  background-color: #f9fbfc;
  float: left;
}
#apple-icon{
  float: left;
  height: 24px;
  width: 20px;
  margin-top: 15px;
  margin-left: 16px;
}
#android-icon{
  float: left;
  height: 24px;
  width: 20px;
  margin-top: 15px;
  margin-left: 16px;
}
#apple-float{
  margin-right: 20px;
}
#apple-prompt{
  margin-top: 19px;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #f4f4f4;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#android-prompt{
  margin-top: 19px;
  margin-left: 50px;
  text-align: left;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #f4f4f4;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#app-name{
  font-family: Semibold;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: #4e525f;
  margin-top: 0px;
}
#app-description{
  font-family: Thinn;
  font-size: 32px;
  font-weight: 300;
  color: #666666;
  margin-top: 50px;
}
#icon{
  width: 100px;
 height: 100px;
}
#icon-p{
  margin-top: 135px;
  margin-bottom: 0px;
  height: 93px;
}
#iPhone{
  width: 315px;
  height: 543px;
  right: 0;
  position: fixed;
  margin-right: 11%;
  margin-top: 9vh;
}
